@import url('./colors.css');
.citiesButton{
    width: 20rem;
    height: 3rem;
    border-radius: 20px;
    outline: none;
    border: 8px solid transparent;
    background: linear-gradient(var(--textColor),var(--textColor)) content-box, var(--darkMode) border-box;
    font-size: 20px;
    text-align: center;;
}
.submitButton {
        height: 2rem;
        width: 15rem;
        background: var(--white);
        color: var(--black);
        border-radius: 3%;
        box-shadow: var(--boxShadowCard);
        border: none;
}
.button{
    width: 550px;
        height: 50px;
        border-radius: 20px;
        outline: none;
        border: 8px solid transparent;
        background: linear-gradient(#fff,#fff) content-box, var(--darkMode) border-box;
        font-size: 20px;
        text-align: center;
}
