@import url('./colors.css');
.inputForm{
    padding: 1rem;
     height: 3rem; 
    width: 33rem;
    border-radius: 20px;
    border: none;}
.textAreaForm{
    height: 13rem;
    width: 30rem;
    border-radius: 5px;
    border: none;
    resize: none;
}
.inputCheckbox{
    height: 0.7rem;
}

.inputForm:focus{
    outline: none;
}
.textAreaForm:focus{
    outline: none;
}
.required{
    border:var(--onFocusInputColor) solid 2px;
    outline: none;
}
.required::after{
    content: 'Required';
    color:var(--textColor)
}