@import url('./colors.css');
.inputForm{
    height:2rem;
    width:15rem;
    border-radius: 3%;
    border:none;
    box-shadow: var(--boxShadowCard);
}
.textAreaForm{
    height:10rem;
    width:15rem;
    border-radius: 3%;
    border:none;
    box-shadow: var(--boxShadowCard);
    resize: none;
}
.checkBoxForm{
    display: flex; 
    flex-direction: row;
    grid-gap: 1rem;
}
.inputForm:focus{
    border:var(--white) solid 2px;
    outline: none;
    
}
.textAreaForm:focus{
    border:var(--white) solid 2px;
    outline: none;
    
}