@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&family=Zen+Kurenaido&display=swap');
@import url('./colors.css');
:root{
    --default-font-family:'Roboto', sans-serif;
    --title-font-family:'Bebas Neue', cursive;
    --change-font-family:'Zen Kurenaido', sans-serif;
    --textColor:var(--white);
}
.title{
    display: flex;
    flex-direction: column;
    font-family: var(--change-font-family);
    justify-content: center;
    align-items: center;
    background-color: var(--contrastColor);
    width: 50vmax;
    height: 10vmax;
    box-shadow: var(--boxShadowCard);
    border-radius: 50%;
}
.titleCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.requiredAdd::after{
    content: 'Required';
    color:var(--textColor)
}