@import url('../general/colors.css');
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:31.25rem;
    width:calc(100% - 2rem);
    border-radius: 9px;    
}
.mapouter{
    height: 40rem;
    width: 100%;
    background-color: var(--contrastColor);
    border-radius: 5%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.9;
    border-radius: 24px;
}
.containerAbout {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    grid-template-rows: 50vh 30rem 1fr;
}
.cardNext{
        height: 15rem;
        width: 15rem;
        border-radius: 10%;
        /* box-shadow: var(--boxShadowCard); */
        background: var(--contrastColor);
        opacity: 0.9;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
}
.citySection{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
}

.next1{
        transform: translate(5vw,0px);
        animation: next1 2s ease;
}
.next2Intial{
    transform: translate(-36vw, 0px);
}
.next3Intial{
    transform: translate(-54vw, 0px);
}
.next2Final{
    transform: translate(20.5vw, 0px);
    animation: next2 4s ease;
}
.next3Final{
    transform: translate(35vw, 0px);
    animation: next3 6s ease;
}
.buttons{
    color: var(--textColor);
    display: flex;
    width: 100%;
    margin-top: 1rem;
    flex-direction: row;
}
@keyframes next1 {
    from{
        transform: translate(-36vw, 0px); 
    }
    to{
        transform: translate(5vw,0px); 
    }
}
@keyframes next2 {
    from{
        transform: translate(-36vw, 0px); 
    }
    to{
        transform: translate(20vw,0px); 
    }
}
@keyframes next3 {
    from{
        transform: translate(-54vw, 0px); 
    }
    to{
        transform: translate(35vw,0px); 
    }
}