@import url('../general/colors.css');
.formContainer{
    padding: 1rem 1rem 1rem 5rem;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}
.sectionContainer{
    width: 100%;
    background-color: var(--contrastColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.9;
    margin-top: 4rem;
    border-radius: 24px;
}
.fieldForm{
    display: flex;
    flex-direction: column;
}