@import url('../general/colors.css');
@import url('../general/text.css');
* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
  }
  
  body {
    font-family: sans-serif;
    height: 100vh;
    color:var(--textColor);
    font-family: var(--default-font-family);
  }
.navigation{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    z-index: 1;
  }
  
  .nav-item {
    padding: 1rem;
    align-self: center;
    text-decoration: none;
    height: 100%;
    justify-content: center;
    display: flex;
    color:var(--textColor);
}
